<div class="mt-4 mb-4 col-8 offset-2">
    <div class="card text-white bg-dark">
        <div class="card-header">
            Detail Buku
        </div>
        <div class="card-body bg-light text-black-50" *ngIf="book">
            <table class="table">
                <tr>
                    <td style="width: 20%;">ISBN</td>
                    <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                    <td>Judul</td>
                    <td>{{ book.title }}</td>
                </tr>
                <tr>
                    <td>Pengarang</td>
                    <td>{{ book.author }}</td>
                </tr>
                <tr>
                    <td>Summary</td>
                    <td>{{ book.description }}</td>
                </tr>
                <tr>
                    <td>Ditambahkan Pada</td>
                    <td>{{ book.created_at }}</td>
                </tr>
                <tr>
                    <td>Ditambahkan Oleh</td>
                    <td>{{ book.created_by.name }}</td>
                </tr>
                <tr>
                    <td>Diupdate Pada</td>
                    <td>{{ book.updated_at }}</td>
                </tr>
                <tr>
                    <td>Diupdate Oleh</td>
                    <td>{{ book.updated_by.name }}</td>
                </tr>
            </table>
            <a href="#" (click)="goBack($event)" class="btn btn-warning ml-2">Kembali</a>
        </div>
    </div>
</div>