<div class="row">
    <div class="mt-4 col-12">
        <div class="card text-white bg-dark">
            <div class="card-header">Form Login</div>
            <div class="card-body bg-light">
                <div class="alert alert-success" *ngIf="infoMsg">{{ infoMsg }}</div>
                <div class="alert alert-success" *ngIf="errorMsg">{{ infoMsg }}</div>
                <a [routerLink]="['/book/add']" class="btn btn-primary mb-2">Tambah Buku</a>
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>No</th>
                        <th>ISBN</th>
                        <th>Judul</th>
                        <th>Pengarang</th>
                        <th>Summary</th>
                        <!-- <th>Tgl. Input</th> -->
                        <th>Aksi</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of books; let i= index;">
                            <td>{{ i+1 }}</td>
                            <td>{{ book.isbn }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.description }}</td>
                            <!-- <td>{{ book.created_at }}</td> -->
                            <td>
                                <a href="#" (click)="editBook($event, book)" class="btn btn-warning">Edit</a>
                                <form style="display: inline-block;">
                                    <button type="button" (click)="deleteBook(book)" class="btn btn-danger ml-1">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>